@charset "UTF-8";

@import "variables";

.admin-section {
    background: $theme-subtle;
    padding: $spacing-large;
    margin: $spacing-large;
}

.admin-subsection {
    padding: $spacing-medium 0;
    margin: $spacing-medium 0;
    background: #fff;
}

.admin-field {
    background: rgba(#fff, .5);
    border: 1px solid #ccc;
    padding: $spacing-medium;
    margin: $spacing-medium;
}

.form-group span {
    font-weight: bold;
    font-family: $font-accent;
}

.admin-buttons {
    padding: $spacing-medium;
    background: $theme-subtle;
}

.text-large {
    font-size: 1.4rem;
}

.role-badge {
    padding: $spacing-xsmall;
    text-align: center;
    font-size: .7rem;
    border-radius: $spacing-xsmall;
    margin: $spacing-xsmall;
    color: #fff;

    &.role-badge-admin {
        background: $theme-admin;
    }

    &.role-badge-user {
        background: $theme-account;
    }

    &.role-badge-unknown {
        background: $theme-unknown;
    }
}