@charset "UTF-8";

@import "variables";

.admin-section {
    background: $theme-subtle;
    padding: $spacing-large;
    margin: $spacing-large;
}

.form-group span {
    font-weight: bold;
    font-family: $font-accent;
}

.admin-buttons {
    padding: $spacing-medium;
    background: $theme-subtle;
}

.users-page {
    padding: 0 $spacing-large;
  
    .users-table {
      width: 100%;
    }
}

.role-badge {
    padding: $spacing-xsmall;
    text-align: center;
    font-size: .7rem;
    border-radius: $spacing-xsmall;
    margin: $spacing-xsmall;

    &.role-badge-admin {
        background: $theme-admin;
    }

    &.role-badge-user {
        background: $theme-account;
    }

    &.role-badge-unknown {
        background: $theme-unknown;
    }
}