@import "variables";

.btn {
    color: #fff;
    border-radius: 5px;
    padding: 0 $spacing-medium 0 0;
    border: none;
    vertical-align: middle;
    margin: 0 $spacing-small;
    transition: all .2s linear;
    white-space: nowrap;

    &:hover,
    &:focus {
        box-shadow: 0 0 10px rgba(255,255,255, .4);
        color: #fff;
    }
        
    &:before {
      font-size: 1em;
      border-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
      padding: $spacing-medium;
      transition: all .2s linear;
    }

  &.btn-primary {
    background: $theme-primary;

    &::before {
      background: darken($theme-primary, 10%);
    }

    &:hover,
    &:focus {
      &:before {
        background: $theme-primary;
      }

      background: darken($theme-primary, 10%);
    }
  }

  &.btn-secondary {
    background: $theme-secondary;

    &::before {
      background: darken($theme-secondary, 10%);
    }

    &:hover,
    &:focus {
      &:before {
        background: $theme-secondary;
      }

      background: darken($theme-secondary, 10%);
    }
  }

  &.btn-accent {
    background: $theme-accent;

    &::before {
      background: darken($theme-accent, 10%);
    }

    &:hover,
    &:focus {
      &:before {
        background: $theme-accent;
      }

      background: darken($theme-accent, 10%);
    }
  }

  &.btn-facebook {
    background: $theme-facebook;

    &:before {
      background: darken($theme-facebook, 10%);
    }

    &:hover,
    &:focus {
      &:before {
        background: $theme-facebook;
      }

      background: darken($theme-facebook, 10%);
    }
  }
  
  &.btn-google {
    background: $theme-google;

    &:before {
      background: darken($theme-google, 10%);
    }

    &:hover,
    &:focus {
      &:before {
        background: $theme-google;
      }

      background: darken($theme-google, 10%);
    }
  }

  &.btn-small {
    padding-right: $spacing-small;
    font-size: .7rem;

    &:before {
      margin-right: $spacing-small;
      padding: $spacing-small;
    }
  }
}

@include media-breakpoint-down(xs) { 
  .btn {
    font-size: $sizing-small;
  }
}
