@import "variables";

.btn {
    color: #fff;
    border-radius: 5px;
    padding: 0 $spacing-medium 0 0;
    border: none;
    vertical-align: middle;
    margin: 0 $spacing-small;
    transition: all .2s linear;
    white-space: nowrap;

    &:hover,
    &:focus {
        box-shadow: 0 0 10px rgba(255,255,255, .4);
        color: #fff;
    }
        
    &:before {
      font-size: 1.5em;
      border-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
      padding: $spacing-medium;
      transition: all .2s linear;
    }

  &.btn-facebook {
    background: $theme-facebook;

    &:before {
      background: darken($theme-facebook, 10%);
    }

    &:hover,
    &:focus {
      &:before {
        background: $theme-facebook;
      }

      background: darken($theme-facebook, 10%);
    }
  }
  
  &.btn-google {
    background: $theme-google;

    &:before {
      background: darken($theme-google, 10%);
    }

    &:hover,
    &:focus {
      &:before {
        background: $theme-google;
      }

      background: darken($theme-google, 10%);
    }
  }

  &.btn-unknown {
    background: $theme-unknown;

    &:before {
      background: darken($theme-unknown, 10%);
    }

    &:hover,
    &:focus {
      &:before {
        background: $theme-unknown;
      }

      background: darken($theme-unknown, 10%);
    }
  }


  &.btn-logout {
    background: $theme-logout;

    &:before {
      background: darken($theme-logout, 10%);
    }

    &:hover,
    &:focus {
      &:before {
        background: $theme-logout;
      }

      background: darken($theme-logout, 10%);
    }
  }

  &.btn-account { 
    background: $theme-account;

    &:before {
      background: darken($theme-account, 10%);
    }

    &:hover,
    &:focus {
      &:before {
        background: $theme-account;
      }

      background: darken($theme-account, 10%);
    }
  }

  &.btn-admin {
    background: $theme-admin;

    &:before {
      background: darken($theme-admin, 10%);
    }

    &:hover,
    &:focus {
      &:before {
        background: $theme-admin;
      }

      background: darken($theme-admin, 10%);
    }
  }

  &.btn-menu {
    position: absolute;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #fff;
    line-height: 46px;
    padding: 0;
    width: 46px;
    height: 46px;
    left: 297px;
    background: $theme-secondary;
    margin: 0;

    &:hover,
    &:focus {
        box-shadow: none;
    }
  }
  
  &.btn-twitter {
    background: $theme-twitter;

    &:before {
      background: darken($theme-twitter, 10%);
    }

    &:hover,
    &:focus {
      &:before {
        background: $theme-twitter;
      }

      background: darken($theme-twitter, 10%);
    }
  }

  &.btn-instagram {
    background: $theme-instagram;

    &:before {
      background: darken($theme-instagram, 10%);
    }

    &:hover,
    &:focus {
      &:before {
        background: $theme-instagram;
      }

      background: darken($theme-instagram, 10%);
    }
  }

  &.btn-phone {
    background: $theme-phone;

    &:before {
      background: darken($theme-phone, 10%);
    }

    &:hover,
    &:focus {
      &:before {
        background: $theme-phone;
      }

      background: darken($theme-phone, 10%);
    }
  }

  &.btn-email {
    background: $theme-email;

    &:before {
      background: darken($theme-email, 10%);
    }

    &:hover,
    &:focus {
      &:before {
        background: $theme-email;
      }

      background: darken($theme-email, 10%);
    }
  }

  &.btn-status-success {
    $bg: lighten($theme-success, 20%);
    background: $bg;

    &:before {
      background: darken($bg, 10%);
    }

    &:hover,
    &:focus {
      &:before {
        background: $bg;
      }

      background: darken($bg, 10%);
    }
  }

  &.btn-status-error {
    $bg: lighten($theme-error, 20%);
    background: $bg;

    &:before {
      background: darken($bg, 10%);
    }

    &:hover,
    &:focus {
      &:before {
        background: $bg;
      }

      background: darken($bg, 10%);
    }
  }

  &.btn-status-warn {
    $bg: lighten($theme-warn, 20%);
    background: $bg;

    &:before {
      background: darken($bg, 10%);
    }

    &:hover,
    &:focus {
      &:before {
        background: $bg;
      }

      background: darken($bg, 10%);
    }
  }

  &.btn-small {
    padding-right: $spacing-small;
    font-size: .7rem;

    &:before {
      margin-right: $spacing-small;
      padding: $spacing-small;
    }
  }
}