@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=PT+Sans|Slabo+27px&display=swap');

@font-face {
  font-family: "jennalilley";
  src:url("fonts/jennalilley.eot");
  src:url("fonts/jennalilley.eot?#iefix") format("embedded-opentype"),
    url("fonts/jennalilley.woff") format("woff"),
    url("fonts/jennalilley.ttf") format("truetype"),
    url("fonts/jennalilley.svg#jennalilley") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "jennalilley" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "jennalilley" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-facebook-official:before {
  content: "\64";
}
.icon-facebook-square:before {
  content: "\65";
}
.icon-twitter:before {
  content: "\66";
}
.icon-twitter-square:before {
  content: "\67";
}
.icon-instagram:before {
  content: "\69";
}
.icon-envelope:before {
  content: "\6a";
}
.icon-phone-square:before {
  content: "\6c";
}
.icon-phone:before {
  content: "\6d";
}
.icon-baseball:before {
  content: "\6e";
}
.icon-google:before {
  content: "\3c";
}
.icon-unlock-alt:before {
  content: "\62";
}
.icon-envelope-o:before {
  content: "\63";
}
.icon-envelope-square:before {
  content: "\68";
}
.icon-google-plus-square:before {
  content: "\6b";
}
.icon-google-plus:before {
  content: "\70";
}
.icon-youtube-play:before {
  content: "\6f";
}
.icon-youtube:before {
  content: "\71";
}
.icon-youtube-square:before {
  content: "\72";
}
.icon-lock:before {
  content: "\73";
}
.icon-cog:before {
  content: "\74";
}
