@charset "UTF-8";

@import "variables";

body,
html,
#app {
  font-size: 16px;
  padding: 0;
  margin: 0;
  position: relative;
  color: #202020;
}

body {
  background: #fff;
  font-family: $font-primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-accent;
  font-size: $sizing-xlarge;
  color: $theme-secondary;
  margin-top: $spacing-medium;
  font-weight: normal;
}

p {
  font-size: $sizing-large;
  margin: $spacing-small 0;
  padding: 0;
}

.login-bar {
  padding: $spacing-small;
  background: $theme-subtle;
}

.main-content {
  padding: 0;
}

.layout-tight {
  padding: 0;
}

.hero-img {
  img {
    width: 100%;
  }
}

.note {
  padding: $spacing-medium;
  margin: $spacing-medium 0;
  background: rgba($theme-secondary, .1);
}
