@import "variables";

.home-page {
    min-height: 700px;
}

.hero {
    width: 100%;
    border-bottom: 4px solid $theme-secondary;
}

.nav {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 250px;
    text-align: center;

    img {
        width: 100%;
        background: rgba($theme-primary, .2);
        padding: $spacing-medium;
    }

    .nav-item,
    .nav-item:link,
    .nav-item:visited {
        transition: all .2s linear;
        text-decoration: none;
        display: block;
        background: rgba($theme-primary, .2);
        color: #fff;
        border: 5px solid transparent;
        border-top: 0;
        border-bottom: 0;
        padding: $spacing-medium;
        margin: $spacing-medium 0;
    }

    .nav-item:hover,
    .nav-item:focus {
        border-left-color: $theme-secondary;
        border-right-color: $theme-secondary;
        background: #fff;
        box-shadow: 0 0 25px rgba(255,255,255, .8); 
        color: $theme-primary;
    }
}