@import "variables";

.home-page {
    min-height: 700px;
}

.hero {
    width: 100%;
}

.nav {
    position: absolute;
    top: 0px;
    width: 300px;
    text-align: center;

    img {
        width: 100%;
    }

    a {
        display: block;
        background: rgba($theme-primary, .2);
        color: #fff;
        padding: $spacing-medium;
        margin: $spacing-medium 0;
    }
}