@charset "UTF-8";

@import "variables";

nav,
.nav {
    padding: $spacing-small;
    background: $theme-primary;

    .nav-item {
        &:hover,
        &:focus,
        &:visited,
        &:link {
            font-family: $font-accent;
            color: $theme-secondary;
            text-decoration: none;
            font-size: $sizing-large;
            padding-right: $spacing-xlarge;
        }

        &:hover {
            text-decoration: underline;
            color: $theme-accent;
        }

        &:active {
            color: $theme-accent;
        }
    }
}