@charset "UTF-8";

@import "variables";

nav,
.nav {
    padding: $spacing-small;
    background: $theme-primary;

    .nav-item {
        font-size: $sizing-large;
        font-family: $font-accent;
        padding-right: $spacing-xlarge;

        &:hover,
        &:focus,
        &:visited,
        &:link {
            color: $theme-secondary;
            text-decoration: none;
        }

        &:hover {
            text-decoration: underline;
            color: $theme-accent;
        }

        &:active {
            color: $theme-accent;
        }
    }
}

@include media-breakpoint-down(xs) { 
    nav,
    .nav {
        text-align: center;
        .nav-item {
            font-size: $sizing-small;
            padding: 0 $spacing-medium;
        }
    }
}

