@charset "UTF-8";

$header-bar-height: 30px;

$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 20px;
$spacing-xlarge: 50px;


$theme-primary: #101427;
$theme-secondary: #4d060f;
$theme-subtle: #f0f0f0;

$theme-facebook: #1e3b87;
$theme-google: #96272d;
$theme-account: #a03778;
$theme-logout: #82372a;
$theme-admin: #6e9245;
$theme-note: #fff4c5;

$theme-email: $theme-primary;
$theme-twitter: #1da1f2;
$theme-phone: $theme-secondary;
$theme-instagram: #c5499c;

$font-accent: 'Slabo 27px', serif;
$font-primary: 'PT Sans', sans-serif;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
