@charset "UTF-8";

$header-bar-height: 30px;

$spacing-xsmall: 3px;
$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 20px;
$spacing-xlarge: 50px;

$theme-primary: #101427;
$theme-secondary: #4d060f;
$theme-subtle: #f0f0f0;

$theme-unknown: #363b46;
$theme-facebook: #1e3b87;
$theme-google: #96272d;
$theme-account: #a03778;
$theme-logout: #82372a;
$theme-admin: #6e9245;
$theme-note: #fff4c5;
$theme-success: #00460f;
$theme-error: #460000;
$theme-warn: #b3711b;
$theme-table-header: #d9e9ff;

$theme-email: #6e9245;
$theme-twitter: #1da1f2;
$theme-phone: #6e9245;
$theme-instagram: #F77737;

$font-accent: 'Pacifico', cursive;
$font-primary: 'Shadows Into Light', sans-serif;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
